body {
    height: 100vh;
    
    /* Shorthand - background
        color > image > repeat > position > [size] > attachment
    */

    background: black url('imagens/wallpaper002.jpg') no-repeat center center / cover fixed;
}
main {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 20px;
}

